<form [formGroup]="tareaForm" class="my-2">
  <div class="mb-2 row">
    <label for="nombreTarea" class="col-md-2 col-form-label">Nombre de la Tarea:</label>
    <div class="col-md-10">
      <input id="nombreTarea" formControlName="nombreTarea" class="form-control" type="text"
        [ngClass]="{ 'is-invalid': isInvalidField(tareaForm.get('nombreTarea')) }">
    </div>
  </div>

  <div class="mb-4 row">
    <label for="fechaMaxima" class="col-md-2 col-form-label">Fecha Máxima:</label>
    <div class="col-md-10">
      <input id="fechaMaxima" formControlName="fechaMaxima" class="form-control" type="date"
        [ngClass]="{ 'is-invalid': isInvalidField(tareaForm.get('fechaMaxima')) }">
    </div>
  </div>

  <h4>Personas Asociadas: </h4>
  <div formArrayName="personas">
    <div *ngFor="let persona of personas.controls; let i = index" [formGroupName]="i"
      class="border border-1 rounded p-3 my-4">
      <h4>Persona {{ i + 1 }}</h4>
      <div class="mb-2 row">
        <label for="nombre{{i}}" class="col-md-2 col-form-label">Nombre completo:</label>
        <div class="col-md-10">
          <input id="nombre{{i}}" formControlName="nombre" class="form-control" type="text"
            [ngClass]="{ 'is-invalid': isInvalidField(persona.get('nombre')) }">
        </div>
      </div>

      <div class="mb-2 row">
        <label for="edad{{i}}" class="col-md-2 col-form-label">Edad:</label>
        <div class="col-md-10">
          <input id="edad{{i}}" formControlName="edad" class="form-control" type="number"
            [ngClass]="{ 'is-invalid': isInvalidField(persona.get('edad')) }">
        </div>
      </div>

      <div formArrayName="habilidades" class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h5 class="m-0">Habilidades:</h5>
        </div>
        <div *ngFor="let habilidad of getHabilidades(i).controls; let j = index" [formGroupName]="j" class="mx-3">
          <div class="mb-2 row">
            <label for="nombreHabilidad{{i}}{{j}}" class="col-md-2 col-form-label">Habilidad {{ j + 1 }}:</label>
            <div class="col-md-10">
              <input id="nombreHabilidad{{i}}{{j}}" formControlName="nombreHabilidad" class="form-control" type="text"
                [ngClass]="{ 'is-invalid': isInvalidField(habilidad.get('nombreHabilidad')) }">
            </div>
            <div class="d-flex justify-content-between mt-1 ">
              <button class="btn btn-sm btn-secondary" type="button" (click)="agregarHabilidad(i, j)">Agregar
                Habilidad</button>
              <button class="btn btn-sm btn-danger" type="button" (click)="eliminarHabilidad(i, j)">Eliminar
                Habilidad</button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex gap-4 justify-content-start ">
        <button class="btn btn-secondary" type="button" (click)="agregarPersona(i)">Agregar Persona</button>
        <button class="btn btn-danger" type="button" (click)="eliminarPersona(i)">Eliminar Persona</button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="button" (click)="agregarTarea()">Guardar Tarea</button>
</form>

<app-toast-notifications>
</app-toast-notifications>